* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #ffd6e8; */
    background-image: url('images/mess.jpg');
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;

}

#container {
    background: rgba(185, 185, 183, 0.758);
    border-radius:15px;
    color: rgb(53, 76, 68);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

input {
    background: rgba(255, 255, 255, 0.804);
    color: rgb(53, 76, 68);
    border: 3px solid rgb(53, 76, 68);
    border-radius: 12px;
    font-size: 1.2rem;
    width: 50%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    text-align: center;
}

button {
    background: rgb(53, 76, 68);
    color: white;
    border-radius: 12px;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    width: 50%;
}

button:hover {
    background: rgb(41, 58, 52);
    color: white;
}

#result {
    background: rgba(255, 255, 255, 0.804);
    color: rgb(53, 76, 68);
    border-radius: 12px;
    /* display:inline-block; */
    margin-top: 2rem;
    padding: 1.5rem 0;
    font-size: 1.2rem;
    width: 50%;
}